.App {
    text-align: center;
  }
  
  header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  